<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Not Found</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>
    <h1>404 Not Found</h1>
    <h3>Sorry we could not found <%=subreddit %> Subreddit</h3>

<%- include('partials/footer.ejs') %>    
