<footer class="bg-dark text-light text-center py-3 mt-5 rounded-top">
    <div class="container">
        <span>&copy; <%= new Date().getFullYear() %> Reddit Clone | Made by Atharva Tambe</span>
    </div>
</footer>
</body>
</html>